/* .attribution {
  width: 500px;
  height: 800px;
} */
.attribution {
  background-color: $grayishblue;
  width: auto;
  height: 30px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
